/** PARTIE HERO + NAV DEBUT **/


/** PARTIE HERO + NAV  FIN **/







/** PARTIE A PROPOS DEBUT **/


/** PARTIE A PROPOS FIN **/












/** PARTIE DE HAMZA DEBUT **/


/** PARTIE DE HAMZA FIN **/






/** PARTIE DE AWATEF DEBUT **/


/** PARTIE DE AWATEF FIN **/






/** PARTIE DE SHARON DEBUT **/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Catamaran', sans-serif;
}

h2 {
    font-family: 'Rubik Dirt', sans-serif;
    color: #713522;
}

.valeur .icon {
    color: #ECAB35;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
   }
/** PARTIE DE SHARON FIN **/